<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
	<title></title>
	<style>
		body{
			font-family: "EB Garamond", serif;
	        padding: 0;    
    	    margin: 0
    	}
    	@page{
		 	size: A4;
		 	margin: 0;
  		 	padding: 0;
		}
		p{
			width: 100%;
			display: -webkit-inline-box
		}
	</style>

</head>



<body style="background-color:#eceff7;padding: 0;  margin: 0px auto;max-width: 1000px;">

		<div style="background-color:#fff;padding:0 30px;">
			<!-- Table Head Start -->
					<div style="padding-bottom: 10px;margin-bottom:20px;border-bottom: 2px solid #000;">
						<h1 style="text-align: center;font-size: 26px;margin: 0;">Tim Stewart, Accountant</h1>
						<p style="text-align: center;margin: 10px 0;font-size: 12px;">
							<span style="width:100%;text-align:center;display: block;">	8 0Gold Street, New York, NY 1 088, United States, (917) 4 (F-2179, tim stewart@gmail.com</span>
						</p>
					</div>
			<!-- Table Head End -->


			<!-- Profile Section Start -->
					<div style="display: -webkit-inline-box;border-bottom: 2px solid #000;padding-bottom: 20px;margin-bottom: 20px;">
						<div style="width: 20%;">
							<h2 style="font-size: 16px;color: #423e3e;margin: 0;">PROFILE</h2>
						</div>
						<div style="width:80%">
							<p style="margin: 0;font-size: 12px;color: #423e3e;">
								Certified Accountant with five years of experience in account reconciliations, streamlining accounts, and financial planning. Highly motivated professional with a proven track record of delivering accurate reports and high quality service. Possess a comprehensive understanding of all aspects of accounting and financial planning A dedicated leader with the ability to lead effective teams in attaining profit improvement.
							</p>
						</div>
					</div>
			<!-- Profile Section End -->



			<!-- Employment History Section Start -->
				<div style="padding-bottom:10px">
					<h2 style="font-size: 16px;color: #423e3e;margin: 0;">EMPLOYMENT HISTORY</h2>
				</div>
				<div style="display: -webkit-inline-box;padding-bottom: 10px;margin-bottom: 10px;width: 100%;">
					<div style="width: 20%;font-size: 12px;">Nov 2013-Sep 2019</div>	
					<div style="width:70%">
						<h2 style="font-size: 14px;color: #262424;margin: 0;">Staff Accountant, Dubone Partnership</h2>
						<div style="padding-top: 5px;">
								<p style="margin: 0px 0 0px 20px;color: #423e3e;font-size: 12px;">
								<span style="width:5px;height:5px;background: #8d8d8d;border-radius: 50%;display: inline-block;margin-right: 5px;margin-bottom: 3px;"></span>
								Managed accounts by analyzing costs and revenues,
								</p>
								<p style="margin: 0px 0 0px 20px;color: #423e3e;font-size: 12px;">
									<span style="width:5px;height:5px;background: #8d8d8d;border-radius: 50%;display: inline-block;margin-right: 5px;margin-bottom: 3px;"></span>
									Projected future trends based on analysis work
								</p>
								<p style="margin: 0px 0 0px 20px;color: #423e3e;font-size: 12px;">
									<span style="width:5px;height:5px;background: #8d8d8d;border-radius: 50%;display: inline-block;margin-right: 5px;margin-bottom: 3px;"></span>
									Managed complex expense reporting.
								</p>
								<p style="margin: 0px 0 0px 20px;color: #423e3e;font-size: 12px;">
									<span style="width:5px;height:5px;background: #8d8d8d;border-radius: 50%;display: inline-block;margin-right: 5px;margin-bottom: 3px;"></span>
									Develop strategies for minimizing tax liability.
								</p>
								<p style="margin: 0px 0 0px 20px;color: #423e3e;font-size: 12px;">
									<span style="width:5px;height:5px;background: #8d8d8d;border-radius: 50%;display: inline-block;margin-right: 5px;margin-bottom: 3px;"></span>
									Work closely with auditors during all audit processes,
								</p>
								<p style="margin: 0px 0 0px 20px;color: #423e3e;font-size: 12px;">
									<span style="width:5px;height:5px;background: #8d8d8d;border-radius: 50%;display: inline-block;margin-right: 5px;margin-bottom: 3px;"></span>
									Performed financial risk assessments for all future business projects.
								</p>
								<p style="margin: 0px 0 0px 20px;color: #423e3e;font-size: 12px;">
									<span style="width:5px;height:5px;background: #8d8d8d;border-radius: 50%;display: inline-block;margin-right: 5px;margin-bottom: 3px;"></span>
									Organized sales and profit reports
								</p>
								<p style="margin: 0px 0 0px 20px;color: #423e3e;font-size: 12px;">
									<span style="width:5px;height:5px;background: #8d8d8d;border-radius: 50%;display: inline-block;margin-right: 5px;margin-bottom: 3px;"></span>
									Prepare, review, and submit crucial budget plans for company goals,
								</p>
						</div>
					</div>
					<div style="text-align:right;width:10%;font-size:12px;">New York</div>
				</div>
				<div style="display: -webkit-inline-box;border-bottom: 2px solid #000;padding-bottom: 20px;margin-bottom: 20px;width: 100%;">
					<div style="width: 20%;font-size: 12px;">Jul 21 0-Jul 203</div>	
					<div style="width:70%">
						<h2 style="font-size: 14px;color: #262424;margin: 0;">Huntington Associates</h2>
						<div style="padding-top: 5px;">
								<p style="margin: 0px 0 0px 20px;color: #423e3e;font-size: 12px;display: -webkit-inline-box">
								<span style="width:5px;height:5px;background: #8d8d8d;border-radius: 50%;display: inline-block;margin-right: 5px;margin-bottom: 3px;"></span>
								<span style="display:block;">Oversaw the management of all company accounts.</span>
								</p>
								<p style="margin: 0px 0 0px 20px;color: #423e3e;font-size: 12px;display: -webkit-inline-box">
									<span style="width:5px;height:5px;background: #8d8d8d;border-radius: 50%;display: inline-block;margin-right: 5px;margin-bottom: 3px;"></span>
									<span style="display:block;">Processed staff payroll and other main aspects of financial transactions.</span>
								</p>
								<p style="margin: 0px 0 0px 20px;color: #423e3e;font-size: 12px;display: -webkit-inline-box">
									<span style="width:5px;height:5px;background: #8d8d8d;border-radius: 50%;display: inline-block;margin-right: 5px;margin-bottom: 3px;"></span>
									<span style="display:block;">Managed accounting teams and ensured that all accounting records were complete and accurate.</span> 
								</p>
								<p style="margin: 0px 0 0px 20px;color: #423e3e;font-size: 12px;display: -webkit-inline-box">
									<span style="width:5px;height:5px;background: #8d8d8d;border-radius: 50%;display: inline-block;margin-right: 5px;margin-bottom: 3px;"></span>
									<span style="display:block;">Explained financial matters to people outside of the finance department in a comprehensive way.</span>
								</p>
								<p style="margin: 0px 0 0px 20px;color: #423e3e;font-size: 12px;display: -webkit-inline-box">
									<span style="width:5px;height:5px;background: #8d8d8d;border-radius: 50%;display: inline-block;margin-right: 5px;margin-bottom: 3px;"></span>
									<span style="display:block;">Remained professional and discreet when handling sensitive or private financial matters.</span>
								</p>
								<p style="margin: 0px 0 0px 20px;color: #423e3e;font-size: 12px;display: -webkit-inline-box">
									<span style="width:5px;height:5px;background: #8d8d8d;border-radius: 50%;display: inline-block;margin-right: 5px;margin-bottom: 3px;"></span>
									<span style="display:block;">Worked closely with junior staff members while aiding them in the progression of their careers.</span>
								</p>
						</div>
					</div>
					<div style="text-align:right;width:10%;font-size:12px;">Philadelphia</div>
				</div>
			<!-- Employment History Section End -->


			<!-- Education Section Start -->
				<div style="border-bottom: 2px solid #000;padding-bottom: 10px;margin-bottom: 10px;">
					<div style="padding-bottom:10px">
						<h2 style="font-size: 16px;color: #423e3e;margin: 0;">EDUCATION</h2>
					</div>
					<div style="display: -webkit-inline-box;padding-bottom: 5px;margin-bottom: 5px;width: 100%;">
						<div style="width: 20%;font-size: 12px;">Jul 2009-Jul 203</div>	
						<div style="width:70%">
							<h2 style="font-size: 14px;color: #262424;margin: 0;">Master of Accountancy, St. Joseph's College</h2>
							<div style="padding-top: 5px;">
									<p style="margin: 0px 0 0px 20px;color: #423e3e;font-size: 12px;">
									<span style="width:5px;height:5px;background: #8d8d8d;border-radius: 50%;display: inline-block;margin-right: 5px;margin-bottom: 3px;"></span>
									Graduated with High Honors
							</p>
							</div>
						</div>
						<div style="text-align:right;width:10%;font-size:12px;">New York</div>
					</div>
					<div style="display: -webkit-inline-box;padding-bottom: 10px;margin-bottom: 10px;width: 100%;">
						<div style="width: 20%;font-size: 12px;">Jul 21 0-Jul 203</div>	
						<div style="width:70%">
							<h2 style="font-size: 14px;color: #262424;margin: 0;">Huntington Associates</h2>
							<div style="padding-top: 5px;">
								<p style="margin: 0px 0 0px 20px;color: #423e3e;font-size: 12px;">
									<span style="width:5px;height:5px;background: #8d8d8d;border-radius: 50%;display: inline-block;margin-right: 5px;margin-bottom: 3px;"></span>
									Graduate summa cum laude.
								</p>
								<p style="margin: 0px 0 0px 20px;color: #423e3e;font-size: 12px;">
									<span style="width:5px;height:5px;background: #8d8d8d;border-radius: 50%;display: inline-block;margin-right: 5px;margin-bottom: 3px;"></span>
									President of Student Counsel
								</p>
							</div>
						</div>
						<div style="text-align:right;width:10%;font-size:12px;">Philadelphia</div>
					</div>
				</div>
			<!-- Education Section End -->



			<!-- Skills Section Start -->
					
					<div style="display: -webkit-inline-box;padding-bottom: 5px;margin-bottom: 5px;width: 100%;">
						<div style="width:20%;">
							<p style="font-size:12px;margin: 0;">SKILLS</p>
						</div>
						<div style="width:30%">
							<div>
								<p style="font-size:12px;margin:0">Financial Reporting</p>
								<p style="font-size:12px;margin:0">Budgeting & Forecasting</p>
								<p style="font-size:12px;margin:0">Interpersonal Skills</p>


							</div>
						</div>	
						<div style="width:10%">
							<p style="font-size:12px;margin:0">Expert</p>
							<p style="font-size:12px;margin:0">Expert</p>
							<p style="font-size:12px;margin:0">Expert</p>


						</div>
						<div style="width:30%">
							<p style="font-size:12px;margin:0">Advanced Technological Skills</p>
							<p style="font-size:12px;margin:0">Effective Time Management</p>

						</div>	
						<div style="width:10%;text-align: right;">
							<p style="font-size:12px;margin:0">Expert</p>

						</div>	



					</div>
				
			<!-- Skills Section End -->



		</div>
</body>
</html>