<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
    <title>cv</title>
    <style>
      body {
          font-family: "EB Garamond", serif;
          padding: 0;    
          margin: 0
      }
      @page {
        size: A4;
      }

      progress {
        vertical-align: baseline;
      }

      @-webkit-keyframes progress-bar-stripes {
        from {
          background-position: 1rem 0;
        }
        to {
          background-position: 0 0;
        }
      }
      @keyframes progress-bar-stripes {
        from {
          background-position: 1rem 0;
        }
        to {
          background-position: 0 0;
        }
      }
      .progress {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 10px;
        overflow: hidden;
        font-size: 0.75rem;
        background-color: #e9ecef;
      }
      .progress-bar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #fff;
        text-align: center;
        background-color: #002e58;
        transition: width 0.6s ease;
      }
      .progress-bar-striped {
        background-image: linear-gradient(
          45deg,
          rgba(255, 255, 255, 0.15) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, 0.15) 50%,
          rgba(255, 255, 255, 0.15) 75%,
          transparent 75%,
          transparent
        );
        background-size: 1rem 1rem;
      }
      .progress-bar-animated {
        -webkit-animation: progress-bar-stripes 1s linear infinite;
        animation: progress-bar-stripes 1s linear infinite;
      }

      p,li{
        font-weight: 500;
      }
    </style>
  </head>
  <body style="padding: 0px; margin: 0px auto; max-width: 1000px;background-color: #eceff7;">
      <div style="padding: 20px 50px; background-color: #fff;">
          
        <!-- Head Start -->
          <div style="padding-bottom: 30px;">
              <h2 style="letter-spacing: -0.2pt;color: #002d57;font-size: 26px;margin: 0;">
                  Shady Gabr
            </h2>
            <p style="letter-spacing: -0.1pt;color: #002d57;margin: 0;font-size: 16px;">
                Procurement Leader
            </p>
          </div>
        <!-- Head End -->

        <!-- Details Start -->
        <div>
                <div style="display: -webkit-inline-box;width: 100%;padding-bottom: 5px;">
                  <div style="width:50%">
                      <p style="font-size: 12px; margin: 0">
                          <strong>Address</strong>
                          Amsterdam, Netherlands
                      </p>
                  </div>
                  <div style="width:50%">
                      <p style="font-size: 12px; margin: 0">
                        <strong>E-mail </strong>
                        <a href="#" style="color: #0462c1; padding-left: 10px"><span>email@protected</span></a>
                  </p>
                  </div>
              </div>
              <div style="display: -webkit-inline-box;width: 100%;">
                  <div style="width:50%">
                      <p style="font-size: 12px; margin: 0">
                        <strong>Phone</strong>
                      +31621187376
                  </p>
                  </div>
                  <div style="width:50%">
                      <p style="font-size: 12px; margin: 0">
                        <strong>LinkedIn </strong>
                        <a href="#" style="color: #0462c1; padding-left: 10px">in/shady-m-gabr</a>
                      </p>
                  </div>
              </div>

              <div style="padding-top: 10px;">
                    <p style="font-size: 12px;line-height: 18px;padding-top: 10px;margin: 0;">
                          A Procurement professional and engineer with 15 years of
                          experience among which 10+ years in the procurement field. A
                          proven track record of enabling the set-up and transformation of
                          global procurement organizations, driving effectiveness and
                          control through digital transformation and process improvement.
                          Delivering in mega projects such as global cloud ERP
                          implementations and establishing global shared services. Managed
                          $100m+ procurement spend annually and complex tenders achieving
                          10-15% savings rate.
                    </p>
                    <p style="font-size: 12px;line-height: 18px;padding-top: 5px;margin: 0;">
                          Prior to procurement, a solid experience in presales, business
                          development and training; with strong achievements in turning
                          around client relationship and leading complex bids and proposals.
                          Vast international exposure and high culture awareness;
                          established and led multicultural geographically spread teams.
                    </p>
              </div>
        </div>
        <!-- Details End -->
        <!-- Work History Start -->
          <div style="padding: 30px 0 15px 0">
              <div style="display:-webkit-inline-box">
                  <div>
                      <img src="img/work-icon.png" style="width: 40px; height: 40px">
                  </div>
                  <div>
                    <p style="font-size: 16px;font-weight: bold;color: #002d57;margin: 10px 0 0 10px;">
                      Work History
                    </p>
                  </div>
              </div>
              <div style="display:-webkit-inline-box;width:100%">
                  <div style="width:100px">
                      <p style="margin: 0; font-size: 12px;padding-bottom: 2px;">2012-01 -</p>
                      <p style="margin: 0; font-size: 12px">Current</p>
                  </div>
                  <div style="width: calc(100% - 100px);">
                          <div>
                              <h3 style="color: #000;font-size: 14px;font-weight: 600;margin: 0;">
                                  Division Head Group Procurement Governance and Automation
                              </h3>
                              <p style="margin: 0;color: #44536a;font-size: 12px;padding-top: 5px;">
                                <i>VEON (formerly VimpelCom), Amsterdam, Netherlands</i>
                              </p>
                          </div>
                          <div style="padding-top: 10px">
                              <p style="margin: 0;color: #585858;font-size: 12px;font-weight: 600;">
                                Key Responsibilities:
                              </p>
                              <ul>
                                  <li style="font-size: 12px; margin-top:5px">
                                    Develop and execute
                                    <strong>procurement operating model</strong> and
                                    <strong> governance framework</strong> for collaboration
                                    between Global and local Procurement teams, contributing
                                    to overall
                                    <strong> procurement strategy formulation</strong>
                                  </li>
                                  <li style="font-size: 12px; margin-top:5px">
                                    Define
                                    <strong>global procurement policies, procedures and
                                      guidelines</strong>
                                    and controlling their implementation across the group.
                                  </li>
                                  <li style="font-size: 12px; margin-top:5px">
                                    <strong>Digitize and automate procurement processes,</strong>
                                    with end to <strong> end ownership </strong> from
                                    concept to implementation.
                                  </li>
                                  <li style="font-size: 12px; margin-top:5px">
                                    <strong>Establish and lead global team</strong> for
                                    Governance, Processes and Systems and functionally
                                    <strong> steering and coaching</strong> the local teams.
                                  </li>
                                  <li style="font-size: 12px; margin-top:5px">
                                    Helped
                                    <strong> uplift local team maturity</strong> achieving
                                    higher autonomy <strong> through coaching</strong> and
                                    significantly
                                    <strong> optimized transactional efficiency </strong>
                                    through <strong> improved planning process</strong>.
                                  </li>
                              </ul>
                          </div>
                  </div>
              </div>
              <!-- ============ -->
              <div style="display:-webkit-inline-box;width:100%">
                  <div style="width:100px">
                      <p style="margin: 0; font-size: 12px;padding-bottom: 2px;">2007-07-</p>
                      <p style="margin: 0; font-size: 12px">2009-02</p>
                  </div>
                  <div style="width: calc(100% - 100px);">
                          <div>
                              <h3 style="color: #000;font-size: 14px;font-weight: 600;margin: 0;">
                                 Pre-Sales / Bid Manager
                              </h3>
                              <p style="margin: 0;color: #44536a;font-size: 12px;padding-top: 5px;">
                                <i>Alcatel-Lucent, Cairo, Egypt</i>
                              </p>
                          </div>
                          <div style="padding-top: 10px">
                              <p style="margin: 0;color: #585858;font-size: 12px;font-weight: 600;">
                                Key Responsibilities:
                              </p>
                            <ul>
                                <li style="font-size: 12px; margin-top:5px">
                                  Perform pre-sales activities for Applications and
                                  Payment domain in MENA region
                                </li>
                                <li style="font-size: 12px; margin-top:5px">
                                  Lead <strong>bid management process</strong> including
                                  assessment of client requirement, set-up of cross
                                  functional bid team, leading
                                  <strong>
                                    both technical and commercial proposal development and
                                    write-up</strong>
                                  with responsibility of the bid P&amp;L.
                                </li>
                                <li style="font-size: 12px; margin-top:5px">
                                  <strong>Develop customer relationship</strong> and
                                  <strong> new business opportunities</strong> through
                                  regular meetings and workshops to showcase new products
                                  and features.
                                </li>
                            </ul>
                          </div>
                           <div style="padding-top: 10px">
                              <p style="margin: 0;color: #585858;font-size: 12px;font-weight: 600;">
                                Key Achievements:
                              </p>
                          <ul>
                              <li style="font-size: 12px; margin-top:5px">
                                <strong>Turned around relationship</strong> of one of
                                <strong>the key clients</strong> in the region by
                                establishing
                                <strong> regular communication channels</strong>,
                                proactively
                                <strong> developing new value streams</strong> and
                                changing internal structure to
                                <strong> reduce response time SLAs</strong>.
                              </li>

                              <li style="font-size: 12px; margin-top:5px">
                                Led RFQ response for several
                                <strong> $10m+ tenders</strong>, securing
                                <strong> winning bid</strong> and achieving
                                <strong>record profitability</strong>.
                              </li>
                        </ul>
                          </div>
                  </div>
              </div>

              <!-- ============ -->
               <div style="display:-webkit-inline-box;width:100%">
                  <div style="width:100px">
                      <p style="margin: 0; font-size: 12px;padding-bottom: 2px;">2005-11 -</p>
                      <p style="margin: 0; font-size: 12px">2007-07</p>
                  </div>
                  <div style="width: calc(100% - 100px);">
                          <div>
                              <h3 style="color: #000;font-size: 14px;font-weight: 600;margin: 0;">
                                Technical Instructor
                              </h3>
                              <p style="margin: 0;color: #44536a;font-size: 12px;padding-top: 5px;">
                                <i>EGTI - Siemens Regional Training Institute, Cairo, Egypt</i>
                              </p>
                          </div>
                          <div style="padding-top: 10px">
                              <p style="margin: 0;color: #585858;font-size: 12px;font-weight: 600;">
                                Key Responsibilities:
                              </p>
                           <ul>
                              <li style="font-size: 12px; margin-top:5px">
                                Conducted training programs for Siemens engineers and
                                regional customers on Siemens telecom equipment covering
                                fixed &amp; mobile core networks.
                              </li>
                              <li style="font-size: 12px; margin-top:5px">
                                Delivered training programs and presentations in
                                multiple countries across Europe, Africa and the Middle
                                East, in Arabic, English and French languages
                              </li>
                        </ul>
                          </div>
                        
                  </div>
              </div>

          </div>
        <!-- Work History End -->
        <!-- Education Start -->
           <div style="padding: 30px 0 15px 0">
              <div style="display:-webkit-inline-box">
                  <div>
                     <img src="img/education.png" style="width: 46px; height: 40px">
                  </div>
                  <div>
                    <p style="font-size: 16px;font-weight: bold;color: #002d57;margin: 10px 0 0 10px;">
                     Education
                     </p>
                  </div>
              </div>


              <div style="display:-webkit-inline-box;width:100%">
                  <div style="width:100px">
                      <p style="margin: 0; font-size: 12px;padding-bottom: 2px;">2009-09 -</p>
                      <p style="margin: 0; font-size: 12px">2011-12</p>
                  </div>
                  <div style="width: calc(100% - 100px);">
                          <div>
                              <h3 style="color: #000;font-size: 14px;font-weight: 600;margin: 0;">
                                  MBA: Globalization
                              </h3>
                             <p style="margin: 0; font-size: 14px; padding-top: 5px">
                               Maastricht School Of Management - Cairo Outreach Program</p>
                               <div style="padding-top: 0px">
                    <!-- <p style="margin:0;color:#585858;font-size: 12px;font-weight: 500;">Key Responsibilities:</p> -->
                                <ul style="margin:0">
                                  <li style="font-size: 12px; margin-top:5px">
                                    Completed full course work but halted the program due to
                                    relocation
                                  </li>
                                </ul>
                              </div>
                          </div>
                        
                  </div>
              </div>
              <!-- ============ -->
              <div style="display:-webkit-inline-box;width:100%">
                  <div style="width:100px">
                      <p style="margin: 0; font-size: 12px;padding-bottom: 2px;">1999-09 -</p>
                      <p style="margin: 0; font-size: 12px">2004-06</p>
                  </div>
                  <div style="width: calc(100% - 100px);">
                          <div>
                              <h3 style="color: #000;font-size: 14px;font-weight: 600;margin: 0;">
                                 Bachelor of Science: Electronics and Communications
                              </h3>
                              <p style="margin: 0;font-size: 14px;padding-top: 5px;">
                                Faculty Of Engineering - Cairo University – Cairo
                              </p>
                          </div>
                          <div style="padding-top: 10px">
                              <p style="margin: 0;color: #585858;font-size: 12px;font-weight: 600;">
                                Key Responsibilities:
                              </p>
                            <ul>
                                <li style="font-size: 12px; margin-top:5px">
                                  Coordinate with global
                                  <strong>assurance functions</strong> (Legal, Finance,
                                  Compliance, Internal Audit) to
                                  <strong> implement effective controls</strong> and
                                  remediate deficiencies or violations.
                                </li>

                                <li style="font-size: 12px; margin-top:5px">
                                  <strong>Service management</strong> of
                                  <strong>procurement operations </strong>team in our
                                  shared service center driving continuous improvement and
                                  process efficiency.
                                </li>
                            </ul>
                          </div>
                           <div style="padding-top: 10px">
                              <p style="margin: 0;color: #585858;font-size: 12px;font-weight: 600;">
                                Key Achievements:
                              </p>
                          <ul>
                                <li style="font-size: 12px; margin-top:5px">
                                  Engineered multiple
                                  <strong> global operating model transformations</strong>
                                  starting with set-up of
                                  <strong> first global organization</strong> up to
                                  establishing <strong>centralized company model</strong>.
                                  Coordinated with major consultancy firms such as
                                  <strong> McKinsey, KPMG, Accenture, BCG and EY</strong>.
                                </li>

                                <li style="font-size: 12px; margin-top:5px">
                                  Led from idea to execution of a
                                  <strong> full Source to Contract suite,</strong> used
                                  globally by <strong>300+ users</strong>, facilitating
                                  <strong>
                                    thousands of savings initiatives, tenders</strong>
                                  and <strong> contracts</strong> per year.
                                </li>
                                <li style="font-size: 12px; margin-top:5px">
                                  Participating in
                                  <strong>the selection of global cloud ERP solution</strong>
                                  &amp; SI partner. Leading
                                  <strong>design and roll-out of Oracle Fusion</strong>
                                  strategic sourcing modules.
                                </li>
                                <li style="font-size: 12px; margin-top:5px">
                                  <strong>Successful completion of procurement action
                                    plan</strong>
                                  required by Department of Justice appointed Monitor
                                  under the Deferred Prosecution Agreement
                                </li>
                                <li style="font-size: 12px; margin-top:5px">
                                  <strong>Establishing of Global Shared Services centers to
                                    offshore P2P activities</strong>. Responsible for baselining, definition of scope,
                                  service catalog, etc. and steering key decisions and
                                  milestones
                                </li>
                                <li style="font-size: 12px; margin-top:5px">
                                  Led
                                  <strong>transformation and business process
                                    outsourcing</strong>
                                  of the HQ <strong>P2P operations</strong> to a Shared
                                  Service Center and deployment of Oracle EBS R12.
                                  Successfully
                                  <strong>turning around the project</strong> after
                                  several delays.
                                </li>
                                <li style="font-size: 12px; margin-top:5px">
                                  Driving VEON's
                                  <strong> supply chain sustainability initiative</strong>
                                  including
                                  <strong>
                                    gaining membership in Joint Audit Cooperation</strong>
                                  (an industry wide program representing most major
                                  Telco’s).
                                </li>
                            </ul>
                          </div>
                  </div>
              </div>
              <!-- ============ -->
               <div style="display:-webkit-inline-box;width:100%">
                  <div style="width:100px">
                      <p style="margin: 0; font-size: 12px;padding-bottom: 2px;">2009-03 -</p>
                      <p style="margin: 0; font-size: 12px">2011-12</p>
                  </div>
                  <div style="width: calc(100% - 100px);">
                          <div>
                              <h3 style="color: #000;font-size: 14px;font-weight: 600;margin: 0;">
                                Engineering Support and Technology Procurement
                              </h3>
                              <p style="margin: 0;color: #44536a;font-size: 12px;padding-top: 5px;">
                                <i>Orascom Telecom Holding, Cairo, Egypt</i>
                              </p>
                          </div>
                          <div style="padding-top: 10px">
                              <p style="margin: 0;color: #585858;font-size: 12px;font-weight: 600;">
                                Key Responsibilities:
                              </p>
                                <ul>
                                    <li style="font-size: 12px; margin-top:5px">
                                      Multi-dimensional role driving
                                      <strong> Capex optimization</strong> &amp;
                                      <strong>cost efficiency</strong>, with responsibility
                                      over procurement
                                      <strong> demand management, Category management</strong>
                                      and <strong> global vendor relation</strong> management
                                      activities in our Operating Companies (OpCo).
                                    </li>
                                    <li style="font-size: 12px; margin-top:5px">
                                      Responsible end to end for
                                      <strong>demand management</strong> for Banglalink OpCo
                                      <strong>across all technologies</strong> including
                                      Business Plans and Budgets validations; and PR/PO
                                      approvals.
                                    </li>
                                    <li style="font-size: 12px; margin-top:5px">
                                      <strong>Global category management</strong> for
                                      <strong>Applications, Payment</strong> and
                                      <strong>IT</strong> categories across all OpCos
                                    </li>
                                    <li style="font-size: 12px; margin-top:5px">
                                      <strong>Vendor relation management</strong> and global
                                      <strong>frame agreement negotiations</strong> with
                                      assigned key vendors.
                                    </li>
                              </ul>
                          </div>
                          <div style="padding-top: 10px">
                              <p style="margin: 0;color: #585858;font-size: 12px;font-weight: 600;">
                                Key Achievements:
                              </p>
                                <ul>
                                      <li style="font-size: 12px; margin-top:5px">
                                        Managed a procurement
                                        <strong> spend budget of $100m+ annually</strong>
                                      </li>
                                      <li style="font-size: 12px; margin-top:5px">
                                        Achieved <strong>savings</strong> between
                                        <strong>$10m-$20m annually</strong>, through tenders,
                                        frame agreement re-negotiations, controlling maverick
                                        spend and contract adherence.
                                      </li>
                                      <li style="font-size: 12px; margin-top:5px">
                                        Realized <strong>40% ($2m) savings</strong> in a tender
                                        after final local team negotiations
                                        <strong>through cost analysis</strong> and optimization
                                        of suppliers cost baseline.
                                      </li>
                                      <li style="font-size: 12px; margin-top:5px">
                                        <strong>Redesigned processes</strong> to
                                        <strong>optimize collaboration</strong> between HQ and
                                        OpCos, and led global implementation of workflow
                                        solution to streamline approval processes.
                                      </li>
                                </ul>
                          </div>
                  </div>
              </div>

          </div>
         <!-- Education End -->


         <!-- Skills Start -->
           <div style="padding: 30px 0 15px 0">
              <div style="display:-webkit-inline-box">
                  <div>
                     <img src="img/skills.png" style="width: 46px; height: 40px">
                  </div>
                  <div>
                    <p style="font-size: 16px;font-weight: bold;color: #002d57;margin: 10px 0 0 20px">
                      Skills
                     </p>
                  </div>
              </div>

              <div style="display:-webkit-inline-box;width:100%">
                  <div style="width:80px">
                      
                  </div>
                  <div style="width: calc(100% - 100px);">
                        <div style="display:-webkit-inline-box;width:100%">
                  <div style="width:50%">
                      <ul style="padding-left: 0">
                          <li style="font-size: 12px; margin-top:5px">
                            Strategic sourcing (Expert)
                          </li>
                          <li style="font-size: 12px; margin-top:5px">
                            Procurement operations (Expert)
                          </li>

                          <li style="font-size: 12px; margin-top:5px">
                            Vendor management (Expert)
                          </li>
                          <li style="font-size: 12px; margin-top:5px">
                            Negotiations (Expert)
                          </li>
                          <li style="font-size: 12px; margin-top:5px">
                            Source to Pay suites (Expert)
                          </li>
                          <li style="font-size: 12px; margin-top:5px">
                            BI and Data analytics (Expert)
                          </li>
                        </ul>
                  </div>
                  <div style="width:50%">
                        <ul style="padding-left:0">
                          <li style="font-size: 12px; margin-top:5px">
                            Procurement transformation (Expert)
                          </li>
                          <li style="font-size: 12px; margin-top:5px">
                            Digital Procurement (Expert)
                          </li>

                          <li style="font-size: 12px; margin-top:5px">
                            Policies and procedures (Expert)
                          </li>
                          <li style="font-size: 12px; margin-top:5px">
                            Process excellence (Expert)
                          </li>
                          <li style="font-size: 12px; margin-top:5px">
                            ERP implementation (Expert)
                          </li>
                          <li style="font-size: 12px; margin-top:5px">
                            Program management (Expert)
                          </li>
                        </ul>
                  </div>
              </div>
                  </div>  
              </div>
            </div>
          <!-- Skills Ens -->
          <!-- Language Start-->
          <div style="padding: 30px 0 15px 0">
              <div style="display:-webkit-inline-box">
                  <div>
                     <img src="img/language.png" style="width: 40px; height: 40px">
                  </div>
                  <div>
                    <p style="font-size: 16px;font-weight: bold;color: #002d57;margin: 10px 0 0 20px">
                     Languages
                     </p>
                  </div>
              </div>

              <div style="display:-webkit-inline-box;width:100%">
                  <div style="width:80px">
                      
                  </div>
                  <div style="width: calc(100% - 100px);">
                      <div style="display:-webkit-inline-box;width:100%">
                          <div style="width:50%">
                                <ul style="padding-left: 0px;margin: 0; list-style: none">
                                  <li style="font-size: 12px; margin-top: 5px">
                                      English 
                                  </li>
                                </ul>  
                          </div>
                          <div style="width:50%">
                              <div class="progress">
                                  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                          </div>
                      </div>
                       <div style="display:-webkit-inline-box;width:100%">
                          <div style="width:50%">
                                <ul style="padding-left: 0px;margin: 0; list-style: none">
                                  <li style="font-size: 12px; margin-top: 5px">
                                      French
                                  </li>
                                </ul>  
                          </div>
                          <div style="width:50%">
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                          </div>
                 
                      </div>
                        <div style="display:-webkit-inline-box;width:100%">
                          <div style="width:50%">
                                <ul style="padding-left: 0px;margin: 0; list-style: none">
                                  <li style="font-size: 12px; margin-top: 5px">
                                      Dutch
                                  </li>
                                </ul>  
                          </div>
                          <div style="width:50%">
                              <div class="progress">
                                  <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                          </div>
                        </div>

                        <div style="display:-webkit-inline-box;width:100%">
                          <div style="width:50%">
                                <ul style="padding-left: 0px;margin: 0; list-style: none">
                                  <li style="font-size: 12px; margin-top: 5px">
                                      Arabic
                                  </li>
                                </ul>  
                          </div>
                          <div style="width:50%">
                              <div class="progress">
                                  <div class="progress-bar" role="progressbar" style="width: 20%;"></div>
                              </div>
                          </div>
                        </div>
                  </div>  
              </div>
            </div>
      </div>
  <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
</body>
</html>
